@import "base";

body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0b/Mountains-1412683.svg");
	background-color: #424242;
	background-position: center;
	background-repeat: no-repeat;
	height: 1200px;
	// height: 100%;
	background-size: cover;
	padding-bottom: 200px;
}

.artistPage {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-auto-rows: 200px;
	grid-gap: 20px;
	margin: 0 10%;
}

@media screen and (max-width: 1600px) {
	.artistPage {
		margin: 0 8%;
	}
}

@media screen and (max-width: 1400px) {
	.artistPage {
		margin: 0 5%;
	}
}

@media screen and (max-width: 1200px) {
	.artistPage {
		margin: 0 2%;
	}
}

@media screen and (max-width: 875px) {
	.artistPage {
		margin: 0 0;
	}
}

@media screen and (max-width: 767px) {
	body {
		height: 100%;
	}
	.artistPage {
		display: block;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-auto-rows: 0;
		grid-gap: 0;
	}

}