@import "base";

.followerStats {
	background-color: rgba(51, 51, 51, 1);
	border-radius: .5rem;
	padding: 423px 0;
	margin: 30px 30px 30px 0;
	transition: all .2s ease-in-out;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	// position: relative;
}

.followerStats:hover {
	transform: scale(1.02);
}

.followerStats p {
	text-align: center;
	margin: auto;
	color: white;
}

@media screen and (max-width: 767px) {
	.followerStats {
		margin: 20px;
		grid-column-start: unset;
		grid-column-end: unset;
		grid-row-start: unset;
		grid-row-end: unset;
	}
}